---
layout: blog
title: index
permalink: /
---

{% include navigation.html %}
<!--{% if site.index_carousel %}-->
<!--{% include carousel.html %}-->
<!--{% endif %}-->

{% for section in site.data.landing %}
{% assign loopindex = forloop.index | modulo: 2 %}
<section id="{{ section.id }}"
         class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}"
         style="margin-top: 0;">
    {% include sections/{{section.tpl}} %}
</section>
{% endfor %}

<!--<p>To learn more about the rest of our work, you can find out more on:</p>-->
<!--<ul>-->
<!--    <li>our publications by browsing <a-->
<!--            href="{{ '/publications/' | prepend: project.baseurl }}">our-->
<!--        papers</a></li>-->
<!--    <li>code artifacts released by our lab on our <a-->
<!--            href="https://github.com/cleverhans-lab" target="_blank">GitHub-->
<!--        page</a></li>-->
<!--    <li>posts published on our <a href="http://cleverhans.io" target="_blank">blog</a>-->
<!--    </li>-->
<!--</ul>-->

<style>
    iframe {
        -moz-transform: scale(0.25, 0.25);
        -webkit-transform: scale(0.25, 0.25);
        -o-transform: scale(0.25, 0.25);
        -ms-transform: scale(0.25, 0.25);
        transform: scale(0.25, 0.25);
        -moz-transform-origin: top left;
        -webkit-transform-origin: top left;
        -o-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
    }
</style>
<!-- <iframe src="https://www.maimemo.com/share/page/?uid=779139&pid=660" style="display: none;"></iframe> -->
