<div class="container" id="i18_projects">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">Publications</span></h0>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 wow col-sm-offset-3 zoomIn user-my-margin">
            {% for year in (2014..2021) reversed %}
              <hr />
              <h3  id="{{y}}">{{year}}</h3>
              {% bibliography -f papers -q @*[year={{year}}]* %}
            {% endfor %}
        </div>
    </div>
</div>