---
---
<b>{{entry.title}}</b><br/>
{% for author in entry.author_array %}
{% assign full_author = author.first | append: ' ' | append: author.last %}
{% for member in site.members %}
{% if member.name ==  full_author %}
{% assign mem = member %}
{% endif %}
{% endfor %}
{% if mem %}
<a href="{{ mem.url }}">{{mem.name}}</a>{% unless forloop.last %},{% endunless %}
{% else %}
{{author.first}} {{author.last}}{% unless forloop.last %},{% endunless %}
{% endif %}
{% assign mem = nil %}
{% endfor %}
<br/>
{% if entry.type == "article" %}
    <em>{{entry.journal}}</em>
{% elsif entry.type == "inproceedings" %}
    <em>In {{entry.booktitle}}</em>
{% endif %}
{% if entry.year %}
    <em> {{entry.year}} </em>
{% endif %}
{% if entry.pub_type == "Conference" or  entry.pub_type == "Journal" %}
<span class="badge badge-pill badge-primary">{{entry.pub_type}}</span>
{% elsif entry.pub_type == "Workshop" %}
<span class="badge badge-pill badge-warning">{{entry.pub_type}}</span>
{% elsif entry.pub_type == "Thesis" %}
<span class="badge badge-pill badge-dark">{{entry.pub_type}}</span>
{% endif %}
{% if entry.journal contains "arXiv" or entry.pub_type == "Preprint"%}
<span class="badge badge-pill badge-danger">Preprint</span>
{% endif %}
{% if entry.pub_note %}
<span class="badge badge-pill badge-info">{{entry.pub_note}}</span>
{% endif %}

<p>
    {% if entry.paper_url and entry.pub_type == "Thesis" %}
    <a style="margin-top:0.5em" class="btn btn-info btn-sm" href="{{ entry.paper_url }}" target="_blank" role="button"><img src="static/assets/svgs/file.svg" alt="" width="20" height="20" title="PDF"> Thesis</a>
    {% elsif entry.paper_url %}
    <a style="margin-top:0.5em" class="btn btn-info btn-sm" href="{{ entry.paper_url }}" target="_blank" role="button"><img src="static/assets/svgs/file.svg" alt="" width="20" height="20" title="PDF"> Paper</a>
    {% endif %}
    {% assign arxiv_str = entry.journal | split: ":" %}
    {% if entry.journal contains "arXiv" %}
    <a style="margin-top:0.5em" class="btn btn-info btn-sm" href="https://arxiv.org/abs/{{ arxiv_str[1] }}" target="_blank" role="button"><img src="static/assets/svgs/file.svg" alt="" width="20" height="20" title="PDF"> Paper</a>
    {% endif %}
    {% if entry.abstract %}
    <button style="margin-top:0.5em" class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapse-{{entry.key}}-abstract" aria-expanded="false" aria-controls="collapse-{{entry.key}}-abstract">
       Abstract
    </button>
    {% endif %}
    <button style="margin-top:0.5em" class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapse-{{entry.key}}-bibtex" aria-expanded="false" aria-controls="collapse-{{entry.key}}-bibtex">
        BibTeX
    </button>
    {% if entry.poster_url %}
    <a style="margin-top:0.5em" class="btn btn-info btn-sm" href="{{ entry.poster_url }}" target="_blank" role="button"><img src="static/assets/svgs/poster.svg" alt="" width="20" height="20" title="PDF"> Poster</a>
    {% endif %}
    {% if entry.slides_url %}
    <a style="margin-top:0.5em" class="btn btn-info btn-sm" href="{{ entry.slides_url }}" target="_blank" role="button"><img src="static/assets/svgs/slides.svg" alt="" width="20" height="20" title="PDF"> Slides</a>
    {% endif %}
    {% if entry.video_url %}
    <a style="margin-top:0.5em" class="btn btn-info btn-sm" href="{{ entry.video_url }}" target="_blank" role="button"><img src="static/assets/svgs/video.svg" alt="" width="20" height="20" title="PDF"> Video</a>
    {% endif %}
    {% if entry.code_url %}
    <a style="margin-top:0.5em" class="btn btn-info btn-sm" href="{{ entry.code_url }}" target="_blank" role="button"><img src="static/assets/svgs/code.svg" alt="" width="20" height="20" title="PDF"> Code</a>
    {% endif %}
    {% if entry.blog_url %}
    <a style="margin-top:0.5em" class="btn btn-info btn-sm" href="{{ entry.blog_url }}" target="_blank" role="button"><img src="static/assets/svgs/blog.svg" alt="" width="20" height="20" title="PDF"> Blog Post</a>
    {% endif %}
    {% if entry.supp_url %}
    <a style="margin-top:0.5em" class="btn btn-info btn-sm" href="{{ entry.supp_url }}" target="_blank" role="button"><img src="static/assets/svgs/supp.svg" alt="" width="20" height="20" title="PDF"> Supplementary Material</a>
    {% endif %}
</p>

<div class="collapse" id="collapse-{{entry.key}}-abstract" style="padding-bottom:1em">
    <div class="card bg-light">
        <div class="card-body">
            {{entry.abstract}}
        </div>
    </div>
</div>

<div class="collapse" id="collapse-{{entry.key}}-bibtex" style="padding-bottom:1em">
    <div class="card bg-light">
        <div class="card-body">
            <pre style="margin-bottom:0em">{{entry.bibtex}}</pre>
        </div>
    </div>
</div>

{% if entry.tags %}
<p>
{% assign tags = entry.tags | split: "," %}
{% for tag in tags %}
<button style="margin-top:-0.5em" type="button" class="btn btn-sm btn-outline-dark" disabled><img src="/assets/svgs/tag.svg" alt="" width="20" height="20" title="PDF"> {{tag}}</button>
{% endfor %}
</p>
{% endif %}