---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% if page.title == 'index' %}
    {% include index_head.html %}
{% elsif page.title == 'publications' %}
    {% include index_head.html %}
{% else %}
    {% include head.html %}
{% endif %}

<body id="page-top" class="landing-page">

    {% if page.title == 'index' %}
        {% include header.html %}
    {% elsif page.title == 'publications' %}
        {% include header.html %}
    {% else %}
        {% include blog_header.html %}
    {% endif %}

    {{ content }}

    {% if page.title == 'index' %}
        {% include index_foot.html %}
    {% elsif page.title == 'publications' %}
        {% include index_foot.html %}
    {% else %}
        {% include foot.html %}
    {% endif %}

</body>
</html>
